<connectionStrings>
	<!--<add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ToDo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<add name="ToDoEntities" connectionString="metadata=res://*/ToDoModel.csdl|res://*/ToDoModel.ssdl|res://*/ToDoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5074.site4now.net;Initial Catalog=db_a81d7f_d2201mredifertodo;User Id=db_a81d7f_d2201mredifertodo_admin;Password=Sm@rterPass2&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
